<picture>
  <source
    srcset="
      /src/assets/images/big-apple-1056753.jpg?as=webp&width=400,
      /src/assets/images/new-york-new-york-1199734.jpg?as=webp&width=800 2x
    "
    type="image/webp"
  />
  <source
    srcset="
      /src/assets/images/big-apple-1056753.jpg?width=400,
      /src/assets/images/new-york-new-york-1199734.jpg?width=800 2x
    "
    type="image/jpeg"
  />
  <img
    src="/src/assets/images/big-apple-1056753.jpg?width=800"
    alt="test image"
    width="800"
    height="450"
    loading="lazy"
    fetchpriority="low"
  />
</picture>
