<footer
  id="footer"
  class="flex-shrink-0 py-10 lg:py-16"
>
  <div class="container">
    <div class="grid gap-8 md:grid-cols-2 xl:grid-cols-3">
      <div class="grid content-start gap-6 md:col-span-2 xl:col-span-1 xl:gap-8 xl:pr-8 2xl:pr-14">
        <div>
          <a
            href="/"
            class="inline-block"
          >
            <img
              src="/src/assets/logo.svg"
              width="150"
              height="28"
              loading="lazy"
              fetchpriority="low"
              alt="Happy Coaching"
            />
          </a>
        </div>
        <div class="rte">
          <p>Design amazing digital experiences that create more happy in the world.</p>
        </div>
      </div>
      <div>
        <h3 class="mb-4 font-heading text-body-medium font-bold last:mb-0">Pages</h3>
        <nav aria-label="footer navigation">
          <ul class="footer__nav">
            <li>
              <a href="/">Home</a>
            </li>
            <li>
              <a href="/">Services</a>
            </li>
            <li>
              <a href="/">About us</a>
            </li>
            <li>
              <a href="/">Extra Sales/Landingpage</a>
            </li>
            <li>
              <a href="/">Free guide</a>
            </li>
          </ul>
        </nav>
      </div>
      <div>
        <h3 class="mb-4 font-heading text-body-medium font-bold last:mb-0">Contact</h3>
        <address class="rte footer__address mb-0">
          <p><a href="tel:+123456789">+123 456 789</a></p>
          <p>
            <a href="mailto:hello@happydigital.nl">hello@happydigital.nl</a>
          </p>
          <p>
            <a
              href="https://www.instagram.com/happydigital.nl/"
              target="_blank"
              rel="noopener noreferrer"
            >
              Instagram
            </a>
          </p>
          <p>
            <a
              href="https://www.linkedin.com/company/happy-digital"
              target="_blank"
              rel="noopener noreferrer"
            >
              LinkedIn
            </a>
          </p>
        </address>
      </div>
    </div>
  </div>
</footer>
