<header id="header" class="header">
  <div class="container">
    <div class="flex items-center justify-between">
      <div class="logo flex-shrink-0">
        <a href="/" class="block">
          <img
            src="/src/assets/logo.svg"
            alt="Logo"
            width="150"
            height="28"
          />
        </a>
      </div>
      <div class="menu xl:w-100">
        <a
          class="menu__btn-opener menu__opener page-wrapper__opener shrink-0 xl:hidden"
          href="#"
        >
          <span>Menu</span>
        </a>
        <nav class="menu__drop" style="transform: translateX(-100%);">
          <ul
            id="nav"
            class="main-menu"
          >
            <li>
              <a href="/">Home</a>
            </li>
            <li>
              <a href="/about.html">About us</a>
            </li>
            <li>
              <a href="/typography.html">Typography</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>
