<header id="header">
  <div class="container">
    <div class="flex items-center">
      <div class="logo flex-shrink-0">logo</div>
      <div class="menu xl:w-100">
        <a
          class="menu__btn-opener menu__opener page-wrapper__opener shrink-0 xl:hidden"
          href="#"
        >
          <span>Menu</span>
        </a>
        <nav class="menu__drop">
          <ul
            id="nav"
            class="main-menu"
          >
            <li>
              <a href="#">Link</a>
            </li>
            <li>
              <a href="#">Link</a>
            </li>
            <li>
              <a href="#">Link</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>
