<header
  id="header"
  class="header shadow-md"
>
  <div class="container">
    <div class="flex items-center justify-between py-4">
      <div class="logo flex-shrink-0">
        <a
          href="/"
          class="block"
        >
          <img
            src="/src/assets/logo.svg"
            width="150"
            height="28"
            loading="lazy"
            fetchpriority="low"
            alt="Happy Coaching"
          />
        </a>
      </div>
      <div class="menu xl:flex xl:w-100 xl:justify-end">
        <button class="menu__btn-opener menu__opener page-wrapper__opener shrink-0 xl:hidden">
          <span>Menu</span>
        </button>
        <div
          class="menu__drop"
          style="transform: translateX(-100%)"
        >
          <div class="flex h-100 w-100 flex-col xl:flex-row xl:items-center">
            <div class="flex shrink-0 items-center justify-between px-4 py-4 shadow-md xl:hidden">
              <div class="logo flex-shrink-0">
                <a
                  href="/"
                  class="block"
                >
                  <img
                    src="/src/assets/logo.svg"
                    width="150"
                    height="28"
                    loading="lazy"
                    fetchpriority="low"
                    alt="Happy Coaching"
                  />
                </a>
              </div>
              <button class="menu__btn-opener menu__opener page-wrapper__opener shrink-0 xl:hidden">
                <span>Menu</span>
              </button>
            </div>
            <div
              class="pb-8 pt-4 max-xl:h-100 max-xl:overflow-y-auto max-xl:overflow-x-hidden xl:flex xl:items-center xl:py-0"
            >
              <nav
                class="mb-4 xl:mb-0"
                aria-label="main navigation"
              >
                <ul
                  id="nav"
                  class="main-menu"
                >
                  <li>
                    <a href="/">Home</a>
                  </li>
                  <li>
                    <a href="/services.html">Services</a>
                  </li>
                  <li>
                    <a href="/about-us.html">About us</a>
                  </li>
                  <li>
                    <a href="/extra-salespage.html">Extra Salespage</a>
                  </li>
                  <li class="hidden">
                    <a href="/typography.html">Typography</a>
                  </li>
                </ul>
              </nav>
              <div class="px-4 xl:px-0">
                <module
                  src="/components/button.html"
                  button_tag="link"
                  button_href="#"
                  button_class=""
                  button_text="Get your free guide now"
                ></module>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
