body {
  min-width: $base-min-width;
  font-family: $base-font-family;
  font-size: $font-size-base;
  line-height: $line-height-base;
  font-weight: $font-body-weight;
  color: $base-text-color;
  background: $base-background-color;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
input,
textarea,
button,
select {
  -webkit-font-smoothing: antialiased;
  text-size-adjust: 100%;
}

// adaptive images
img {
  width: 100%;
}

// google map fix
.gm-style img {
  max-width: none;
}

button,
a,
input[type="submit"],
input[type="reset"],
summary {
  @include animates;
  @media screen and (prefers-reduced-motion: reduce) {
    transition: none;
  }
}

// transition for svg
svg {
  transition: stroke var(--animation-speed) ease-in-out, fill var(--animation-speed) ease-in-out;
  @media screen and (prefers-reduced-motion: reduce) {
    transition: none;
  }
}

.fluid-iframe {

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    margin: 0;
    border: none;
  }
}

// Important CSS for details-utils
details-utils:not(:defined) [data-du-close-click] {
  display: none;
}

/* stylelint-disable-next-line max-line-length */
// The scroll-margin-top property lets you define a top margin that the browser should use when snapping a scrolled element into place.
* {
  scroll-margin-top: var(--header-height);
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 calc(var(--grid-gutter-width) / 2);
}

.accordion {

  .ac {
    margin: 0;
    border-width: 0 0 1px;
    border-color: $gray-200;
    &:last-child {
      border-bottom: 0;
    }
    // &.is-active {

    //   .ac-trigger {
    //     &::after {
    //       content: "—";
    //       padding-top: 0;
    //       font-size: 12px;
    //       font-weight: bold;
    //     }
    //   }
    // }
  }

  .ac-trigger {
    padding: 16px 32px 16px 0;
    &:hover,
    &:focus {
      color: $base-text-color;
    }
    // &::after {
    //   display: flex;
    //   align-items: center;
    //   justify-content: center;
    //   width: 24px;
    //   height: 24px;
    //   padding-top: 2px;
    //   padding-left: 1px;
    //   font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    //   font-size: 20px;
    //   font-weight: 300;
    //   color: $green;
    //   border: 2px solid $green;
    //   border-radius: 100%;
    // }
  }
}
