<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width"
    />
    <title>{{ title }}</title>
    <link
      rel="preconnect"
      href="https://fonts.googleapis.com"
    />
    <link
      rel="preconnect"
      href="https://fonts.gstatic.com"
      crossorigin
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="text-black">
    <div
      id="wrapper"
      class="page-wrapper relative flex h-100 w-100 flex-col"
    >
      <!-- Header -->
      <include src="partials/header.html"></include>
      <!-- /Header -->

      <!-- Main -->
      <main
        id="main"
        class="flex flex-1 flex-col"
        role="main"
      >
        <block name="main"></block>
      </main>
      <!-- /Main -->

      <!-- Footer -->
      <include src="partials/footer.html"></include>
      <!-- /Footer -->
    </div>
    <script
      src="/src/scripts/main.js"
      type="module"
    ></script>
  </body>
</html>
