@font-face {
  font-family: "Kumbh Sans";
  font-weight: 400;
  font-style: normal;
  src:
    url("../assets/KumbhSans-Regular.woff") format("woff2"),
    url("../assets/KumbhSans-Regular.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Kumbh Sans";
  font-weight: 700;
  font-style: normal;
  src:
    url("../assets/KumbhSans-Bold.woff2") format("woff2"),
    url("../assets/KumbhSans-Bold.woff") format("woff");
  font-display: swap;
}
