// Typography

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6,
.h {
  font-family: $headings-font-family;
  line-height: $headings-line-height;
  font-weight: $headings-font-weight;
  font-style: $headings-font-style;
  color: $headings-color;

  a {
    color: inherit;
    &:hover,
    &:focus {
      color: inherit;
    }
  }

  .rte {
    margin: 0 0 20px;
  }
}

h1,
.h1 {
  font-size: $h1-font-size;
  @include media ("≥desktop") {
    font-size: $h1-font-size-desktop;
  }
}

h2,
.h2 {
  font-size: $h2-font-size;
  @include media ("≥desktop") {
    font-size: $h2-font-size-desktop;
  }
}

h3,
.h3 {
  font-size: $h3-font-size;
  @include media ("≥desktop") {
    font-size: $h3-font-size-desktop;
  }
}

h4,
.h4 {
  font-size: $h4-font-size;
  @include media ("≥desktop") {
    font-size: $h4-font-size-desktop;
  }
}

h5,
.h5 {
  font-size: $h5-font-size;
  @include media ("≥desktop") {
    font-size: $h5-font-size-desktop;
  }
}

h6,
.h6 {
  font-size: $h6-font-size;
  @include media ("≥desktop") {
    font-size: $h6-font-size-desktop;
  }
}

.large-title {
  font-size: $h1-font-size + 6px;
  @include media ("≥desktop") {
    font-size: $h1-font-size-desktop + 24px;
  }
}

p {
  margin: 0 0 20px;
  @include media ("≥desktop") {
    margin: 0 0 24px;
  }
  &:last-child {

    .rte & {
      margin-bottom: 0;
    }
  }
}

a {
  color: $base-link-color;
  text-decoration: underline;
  &:hover {
    color: $base-link-hover-color;
    text-decoration: none;
  }
}
