:root {

  /* Colors */
  --color-black: #000;
  --color-white: #fff;
  --color-gray: #999;
  --color-gray-800: #606673;
  --color-gray-200: #edeff5;
  --color-off-white: #f8f8f8;
  --color-dark-blue: #0c111d;
  --color-light-blue: #39f;
  --color-green: #2ba995;
  --color-brand: #483d8b;
  --color-brand-dark: #333461;
  --body-text-color: var(--color-black);
  --body-background-color: var(--color-white);
  --secondary-background: #faf8f6;

  /* Typography */
  --font-body: 'Kumbh Sans', 'Arial', 'Helvetica Neue', 'Helvetica', sans-serif;
  --font-body-weight: 400;
  --font-body-style: normal;
  --font-heading: 'Kumbh Sans', 'Times New Roman', 'Times', 'Baskerville', 'Georgia', serif;
  --font-heading-weight: 700;
  --font-heading-style: normal;

  --font-size-base: 16px;
  --line-height-base: 1.5;

  /* Primary button colors */
  --primary-button-text-color: var(--color-black);
  --primary-button-hover-text-color: var(--color-green);
  --primary-button-focus-text-color: var(--color-green);
  --primary-button-border-color: var(--color-green);
  --primary-button-hover-border-color: var(--color-green);
  --primary-button-focus-border-color: var(--color-green);
  --primary-button-background-color: var(--color-green);
  --primary-button-hover-background-color: var(--color-white);
  --primary-button-focus-background-color: var(--color-white);
  --primary-button-text-on-disabled: #fff;
  --primary-button-border-on-disabled: #999;
  --primary-button-background-on-disabled: #999;
  --button-border-radius: 8px;

  /* Form settings */
  --height-form-element: 44px;
  --height-button:       44px;
  --form-element-border-radius: 8px;

  /* Project variables */
  --grid-gutter-width: 32px;

  --body-min-width: 320px;
  --header-logo-width-mobile: 140px;
  --header-logo-width-desktop: 160px;
}

// Colors
// Color calculator - http://razorjam.github.io/sasscolourfunctioncalculator/
// Color names - http://name-of-color.com/

// Colors variables for cms base styles
$black: var(--color-black);
$white: var(--color-white);
$gray: var(--color-gray);
$gray-800: var(--color-gray-800);
$gray-200: var(--color-gray-200);
$green: var(--color-green);
$light-blue: var(--color-light-blue);
$secondary-background: var(--secondary-background);

// Body
$base-font-family: var(--font-body);
$font-size-base: var(--font-size-base);
$line-height-base: var(--line-height-base);
$font-body-weight: var(--font-body-weight);
$base-text-color: var(--body-text-color);
$base-background-color: var(--body-background-color);
$vertical-rhythm: calc(1em * $line-height-base);

$base-min-width: 320px;

// Links
$base-link-color: var(--color-brand);
$base-link-hover-color: var(--color-green);

// Buttons
$btn-color: var(--color-brand-dark);
$btn-background: var(--color-green);
$button-padding: 9px 20px !default;
$btn-font-size: 14px !default;
$button-border-radius: var(--button-border-radius);

// Primary Buttons
$primary-button-text: var(--primary-button-text-color) !default;
$primary-button-text-on-hover: var(--primary-button-hover-text-color) !default;
$primary-button-text-on-focus: var(--primary-button-focus-text-color) !default;
$primary-button-border: var(--primary-button-border-color) !default;
$primary-button-border-on-hover: var(--primary-button-hover-border-color) !default;
$primary-button-border-on-focus: var(--primary-button-focus-border-color) !default;
$primary-button-background: var(--primary-button-background-color) !default;
$primary-button-background-on-hover: var(--primary-button-hover-background-color) !default;
$primary-button-background-on-focus: var(--primary-button-focus-background-color) !default;
$primary-button-text-on-disabled: var(--primary-button-text-on-disabled) !default;
$primary-button-border-on-disabled: var(--primary-button-border-on-disabled) !default;
$primary-button-background-on-disabled: var(--primary-button-background-on-disabled) !default;

// Forms
$height-form-elements: var(--height-form-element);
$form-element-padding: $button-padding !default;
$form-element-border-color: #d0d5dd !default;
$form-element-focus-border-color: $black !default;
$form-element-border-radius: var(--form-element-border-radius);
$placeholder-color: #d0d5dd !default;

// Headers
$h1-font-size: 32px !default;
$h2-font-size: 28px !default;
$h3-font-size: 24px !default;
$h4-font-size: 20px !default;
$h5-font-size: 18px !default;
$h6-font-size: 14px !default;
$h1-font-size-desktop: 48px !default;
$h2-font-size-desktop: 36px !default;
$h3-font-size-desktop: 30px !default;
$h4-font-size-desktop: 24px !default;
$h5-font-size-desktop: 22px !default;
$h6-font-size-desktop: 20px !default;
$headings-font-family: var(--font-heading);
$headings-font-weight: var(--font-heading-weight);
$headings-font-style: var(--font-heading-style);
$headings-line-height: 1.2 !default;
$headings-color: var(--color-brand-dark);

$animation-speed: 0.3s !default;
$animation-name: ease-in-out;
